@media screen and (max-width: 1300px) {
  footer .scroll_static{
    left: auto;
    right: 18px;
    margin: 0;
    top: 20px;
  }
  .footer_scroll{
    width: 40px;
    height: 40px;
    color: transparent;
    left: auto;
    right: 18px;
    margin: 0;
  }
  .footer_scroll svg{
    position: absolute;
    top: 10px;
    left: 9px;
  }
  .tech_title{
    font-size: 25px;
    line-height: 1.3;
  }
  .tech_title::before{
    top: 118px;
  }
  .section-tech::before{
    top: 0;
    transform: translateX(-641px);
  }
  .contacts .top_contacts{
    justify-content: start;
  }
  .contacts .top_phone{
    width: 100%;
  }
  .contacts .top_msg{
    width: auto;
    border: none;
    padding: 0;
  }
  .contacts .wa_flex{
    width: auto;
    margin-right: 10px;
  }
  .top_msg__mail-wrap{
    width: auto;
    padding: 0;
    margin-left: 10px;
  }
  .contacts .top_msg p,
  .contacts .top_msg .wa_btn,
  .contacts .wa_flex span{
    display: none;
  }
  .practic_info p{
    font-size: 35px;
  }
  .observ_txt{
    font-size: 35px;
  }
}
@media screen and (max-width: 1200px) {
  .head{
  	display: none;
  }
  .container{
	  padding: 0 24px;
  }
  .head_mobile{
  	display: block;
  }
  .undefined-page{
    padding: 0px 0 100px;
  }
  .section-tech::before,
  .section-tech::after{
    display: none;
  }
  .section-title{
    font-size: 35px;
  }
  .breadcrumbs-wrap .container{
    padding: 0 24px;
  }
  .breadcrumbs-wrap{
    padding: 20px 0;
  }
  .tech_slider-wrap{
    width: 50%;
  }
  .tech_title{
    width: 50%;
    padding: 91px 25px 0 36px;
    line-height: 1.1;
  }
  .tech_title::before{
    top: 90px;
  }
  .object{
    flex-wrap: wrap;
  }
  .object_left{
    border: none;
    display: flex;
    width: 100%;
    padding: 0 0 30px;
  }
  .object_slider-in{
    max-height: 370px;
    height: auto;
  }
  .object_right{
    width: 100%;
    padding: 0;
    max-width: 585px;
    margin: 0 auto;
  }
  .license{
    padding-top: 0;
  }
  .object__main .object_left{
    background: transparent;
  }
  .object__main .keys{
    background: #fff;
  }
  .section-left::before{
    display: none;
  }
  .practic_info{
    max-width: 520px;
  }
}
@media screen and (max-width: 980px) {
  .section{
    padding: 40px 0;
  }
  .footer_menu{
    display: none
  }
  .footer_info{
    width: calc(100% - 324px);
  }
  .contacts_info{
    width: 100%;
    max-width: 400px;
    padding-bottom: 20px;
  }
  .tripple_block__blog{
    min-height: auto;
  }
  .personal_date-wrap{
    flex-wrap: wrap;
  }
  .personal_date-wrap::before{
    display: none;
  }
  .personal_date{
    padding: 25px 0 15px;
    width: calc(50% - 10px)!important;
  }
  .personal_date-name{
    font-size: 22px;
  }
  .personal_info{
    width: 100%;
    padding-bottom: 30px;
  }
  .personal_card-wrap{
    width: 100%;
    padding: 0;
    justify-content: space-around;
  }
  .personal_card{
    width: auto;
  }
  .personal_desc{
    padding: 0 10px;
  }
  .personal_img img{
    width: 100%;
    display: block;
  }
  .demolition{
    flex-direction: column-reverse;
  }
  .demolition_info{
    padding: 20px 0;
    width: 100%;
    max-width: 540px;
  }
  .demolition_img{
    width: 100%;
    max-width: 450px;
  }
  .works{
    width: calc(33.33% - 7px)
  }
  .practic_info::before{
    display: none;
  }
  .practic{
    flex-direction: column-reverse;
  }
  .practic_img{
    text-align: center;
    padding-bottom: 15px;
  }
  .practic_info{
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .license_bot-wrap{
    padding-top: 30px;
  }
  .observ_txt{
    padding-left: 20px;
    line-height: 1.3;
  }
  .observ_txt::before{
    display: none;
  }
}
@media screen and (max-width: 770px) {
  .section{
    padding: 20px 0;
  }
  .section-title{
    line-height: 1.3;
    font-size: 22px;
    padding: 0 0 16px;
  }
  .breadcrumbs-wrap{
    padding: 5px 0 10px;
  }
  .section-title__logo::before{
    display: none;
  }
  .footer_top-in{
    flex-direction: column;
  }
  .footer_info,
  .footer_services-wrap{
    width: 100%;
  }
  .footer_tel{
    font-size: 28px
  }
  .footer_num-title,
  .footer_msg-desc{
    display: none
  }
  .footer_num{
    padding: 15px 0 10px;
  }
  .footer_bot{
    flex-direction: column;
  }
  .footer_bot-left{
    width: 100%;
  }
  .footer_bot-right{
    width: 100%;
    text-align: left;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  .footer_bot-right a:last-child{
    margin: 0;
  }
  .tech-wrap{
    padding: 0 0 20px;
  }
  .tech{
    flex-direction: column;
  }
  .tech_title{
    width: 100%;
    line-height: 1.3;
    font-size: 18px;
    padding: 15px 25px 20px 93px;
    max-width: 100%;
    min-height: 100px;
  }
  .tech_title::before{
    display: none;
  }
  .tech_slider-wrap{
    width: 100%;
    max-width: 495px;
    margin: 0 auto;
  }
  .tech-subtitle{
    padding: 0;
    font-size: 20px;
  }
  .section-payment{
    padding: 30px 0;
  }
  .payment{
    flex-direction: column;
  }
  .payment_info{
    width: 100%;
    padding-bottom: 30px;
  }
  .payment_form{
    padding: 0;
    margin: 0 auto;
  }
  .payment_title{
    font-size: 18px;
  }
  .payment_file{
    font-size: 18px;
    padding: 15px 20px;
  }
  .tripple_block{
    width: calc(50% - 12px);
  }
  .section-blog{
    background: transparent;
  }
  .object{
    padding: 20px 0;
  }
  .object_slider-nav-in{
    display: none;
    padding: 0;
  }
  .object_slider-nav{
    padding: 0;
    height: 0;
  }
  .keys_name{
    font-size: 18px;
  }
  .keys_address{
    font-size: 16px;
    padding-bottom: 10px;
  }
  .keys_desc{
    font-size: 18px;
    padding-bottom: 0;
  }
  .object_left{
    flex-wrap: wrap;
  }
  .object_info{
    width: 100%;
    padding: 10px 0 0;
    font-size: 18px;
  }
  .license_acc-body__active{
    flex-wrap: wrap;
  }
  .license_acc-body-img{
    padding: 5px;
  }
  .personal_date-wrap{
    padding: 10px 0;
  }
  .personal_info{
    font-size: 18px;
    line-height: 30px;
  }
  .personal_info i{
    width: 25px;
    line-height: 23px;
  }
  .license_head{
    padding: 15px 51px 0 15px;
    width: 250px;
  }
  .license_acc-body-wrap{
    width: calc(100% - 250px);
  }
  .license_acc-body{
    padding: 5px;
  }
  .works-wrap{
    flex-wrap: wrap;
  }
  .works{
    width: 100%;
    max-width: 450px;
    margin: 0 auto 15px;
  }
  .practic_info p,
  .practic_info span{
    font-size: 18px;
    line-height: 1.5;
  }
  .license_bot{
    flex-wrap: wrap;
    justify-content: start;
  }
  .license_bot-in{
    width: 100%;
    margin-bottom: 20px;
  }
  .observ_txt{
    font-size: 18px;
    line-height: 1.5;
    padding: 10px 0 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
  }
  .observ{
    flex-direction: column;
  }
  .observ_img{
    margin: 0 auto;
  }
  .observ_img::before{
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .tech_logo{
    display: none;
  }
  .tech_title{
    padding: 0 0 15px;
    min-height: auto;
    line-height: 1.1;
  }
  .tripple{
    justify-content: center;
  }
  .tripple_block{
    width: 100%;
    max-width: 320px;
  }
  .personal_date-wrap{
    padding: 20px 0 0;
  }
  .personal_date{
    width: 100%!important;
    max-width: 250px;
    margin: 0 auto;
    padding: 20px 0 20px;
  }
  .personal_date-name{
    line-height: 40px;
  }
  .personal_date-desc{
    font-size: 16px;
    line-height: 16px;
  }
  .personal_card-wrap{
    flex-wrap: wrap;
  }
  .personal_card{
    width: 100%;
    max-width: 200px;
    margin: 0 auto 20px;
  }
  .tripple_block__0{
    margin-bottom: 5px;
  }
  .license_head{
    width: 190px;
  }
  .license_acc-body-wrap{
    width: calc(100% - 190px);
  }
  .license_acc-body__active {
    flex-direction: column;
    justify-content: center;
  }
}